
:root{
--color-white: #eee;
--color-primary: #525252;
}


//font
$default-font-size: 1.6rem;


//colors
$color-primary:#525252;
$color-secondary:rgb(156, 151, 167);
$color-white:#eee;
//GRID SYSTEM
$grid-width:114rem;
$horizantal-space:5rem;
