.icon{
    height: 3.2rem;
    width: 3.2rem;
    fill: var(--color-white);
    transition: all .3s;
    

    

    &--scale{
        &:hover{
            transform: scale(1.2);
            fill: var(--color-white);
            
        }
    }


    &--btn{
        height: 1.8rem;
        width: 1.8rem;
    }

    &--dropdown{
        height: 2.6rem;
        width: 2.6rem;
    }

}