body{
    background-image: linear-gradient(to right top,rgba($color-primary,0.8), rgba($color-secondary,.6)
    ),
    url(https://images5.alphacoders.com/898/898366.jpg) ;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}